---

---

{/* Chart Container */}
<div
	id="chartContainer"
	class="absolute left-2 pb-6 bottom-0 right-2 h-[30vh] transition-all transform translate-y-full"
>
	<div
		class="w-[250px] moveable transition-all h-full flex justify-center bg-white rounded-lg"
	>
		{/* Chart Canvas */}
		<canvas id="chart"></canvas>
	</div>
</div>

<script>
	import { initChart } from "@/features/chart/chart";
	initChart();
</script>
