---
import Leaderboard from "./Leaderboard.astro";
import Legend from "./Legend.astro";
---

{/* Main controls container */}
<div
	class="absolute flex flex-col items-end gap-2 transition-all top-2 right-2"
>
	{/* Zoom controls */}
	<button
		id="zoomIn"
		class="flex items-center justify-center w-8 h-8 transition-all bg-white rounded-md hover:bg-gray-100 active:bg-gray-200"
		aria-label="Zoom In"
	>
		<i class="text-lg bi bi-plus"></i>
	</button>

	<button
		id="zoomOut"
		class="flex items-center justify-center w-8 h-8 transition-all bg-white rounded-md hover:bg-gray-100 active:bg-gray-200"
		aria-label="Zoom Out"
	>
		<i class="text-lg bi bi-dash"></i>
	</button>

	{/* Toggles leaderboard visibility */}
	<button
		id="leaderboardToggle"
		class="flex items-center justify-center w-8 h-8 transition-all bg-white rounded-md hover:bg-gray-100 active:bg-gray-200"
		aria-label="Toggle Leaderboard Visibility"
	>
		<i class="text-lg text-yellow-500 bi bi-trophy"></i>
	</button>

	{/* Toggles chart visibility */}
	<button
		id="chartToggle"
		class="flex items-center justify-center w-8 h-8 transition-all bg-white rounded-md hover:bg-gray-100 active:bg-gray-200"
		aria-label="Toggle Chart Visibility"
	>
		<i class="text-lg text-teal-500 bi bi-bar-chart"></i>
	</button>

	{/* Toggles chart visibility */}
	<button
		id="legendToggle"
		class="flex items-center justify-center w-8 h-8 transition-all bg-white rounded-md hover:bg-gray-100 active:bg-gray-200 lg:hidden"
		aria-label="Toggle Legend Visibility"
	>
		<i class="text-lg text-purple-500 bi bi-book"></i>
	</button>
</div>

{/* Legend container for cluster colours */}
<Legend />

{/* Leaderboard container - starts hidden off-screen to the left */}
<div
	id="leaderboardContainer"
	class="absolute top-0 left-0 w-56 transition-all -translate-x-full"
>
	<Leaderboard />
</div>
