---

---

{/* Main leaderboard container */}
<div id="leaderboard">
	<div class="p-4">
		{/* Leaderboard heading and timeframe */}
		<h2 class="mb-2 text-xl font-bold text-center text-gray-600">
			Contributor Leaderboard
		</h2>
		<p class="text-center text-blue-400 font-blue">Last 7 days</p>
	</div>
	{/* Divider line */}
	<div class="h-px bg-gray-200"></div>
	{/* Container for dynamically populated leaderboard items */}
	<ol id="leaderboardList"></ol>
</div>

<script>
	import { initLeaderboard } from "@/features/leaderboard/leaderboard";
	initLeaderboard();
</script>
