<div
	id="legend"
	class="absolute p-3 bg-white rounded-lg moveable top-2 left-2 max-w-[350px]"
	role="complementary"
	aria-label="Map Legend"
>
</div>

<script>
	import { initLegend } from "@/features/legend/legend";
	initLegend();
</script>
