---
import Controls from "./Controls.astro";
import Chart from "./Chart.astro";
import PopupBox from "./PopupBox.astro";
---

<div
	id="map"
	class="absolute top-0 bottom-0 left-0 right-0 w-full h-full transition-all moveable"
>
</div>
<Controls />
<Chart />
<PopupBox />

<script>
	import $ from "jquery";
	import { initConfig } from "../scripts/config";
	import { createMap, createMapView } from "../scripts/mapSetup";
	import { initControls } from "../scripts/controls";

	let mapInitialized = false;

	async function initMap() {
		if (mapInitialized) return;

		try {
			const token = await initConfig();

			const { map } = await createMap(token);
			const view = await createMapView(map);

			view.when(
				() => {
					initControls(view);
					$("#loading").fadeOut();
					$("#mapContainer").fadeTo(150, 1);
					mapInitialized = true;
				},
				(error: Error) => {
					console.error("Error initializing view:", error);
				}
			);
		} catch (error) {
			console.error("Error in map initialization:", error);
		}
	}

	initMap();
</script>
