---
import Controls from "./Controls.astro";
import Chart from "./Chart.astro";
import PopupBox from "./PopupBox.astro";
---

<div
	id="map"
	class="absolute top-0 bottom-0 left-0 right-0 w-full h-full transition-all moveable"
>
</div>
<Controls />
<Chart />
<PopupBox />

<script>
	import $ from "jquery";
	import { initConfig } from "../scripts/config";
	import { createMap, createMapView } from "../scripts/mapSetup";
	import { createClusterRenderer } from "../scripts/renderers";
	import {
		setupInteractions,
		deactivateClickState,
	} from "../scripts/interactionHandlers";
	import { initControls } from "../scripts/controls";

	await initConfig();

	const { map, biodiversityLayer } = createMap();
	const view = createMapView(map);
	const clusterRenderer = createClusterRenderer();

	biodiversityLayer.renderer = clusterRenderer;

	setupInteractions(view, biodiversityLayer);

	(window as any).deactivateClickState = deactivateClickState;

	view.when(() => {
		initControls(view);
		$("#loading").fadeOut();
		$("#mapContainer").fadeTo(150, 1);
	});
</script>
