---

---

{/* Popup box container with initial hidden state */}
<div
	id="popupBox"
	class="absolute p-2 transition-all translate-y-full bottom-[-100%] bg-white rounded-lg right-2"
>
	<h3 id="popupTitle" class="mb-2 font-semibold"></h3>
	<p id="popupContent" class="text-sm"></p>
</div>
